name: Pull Request

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

          - name: Debug event payload
            run: echo "${{ toJson(github.event) }}"

      - name: Create PR (develop → master)
        if: github.event.workflow_run.head_branch == 'develop'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: develop
          base: master
          title: "Auto PR: develop → master"
          body: "All tests passed. Automatically created after CI success."

      - name: Create PR (master → release)
        if: github.event.workflow_run.head_branch == 'master'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          base: release
          title: "Auto PR: master → release"
          body: "Stable build verified. Automatically created after CI success."
